# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
bin/
obj/
Debug/
Release/
x64/

!Binary/Release/
!Binary/Release/GameServer.exe

# C++
*.obj
*.pdb

# Precompiled headers
*.pch
*.ipch

# VS ipch
.vs/*/ipch/

# Libs
Libraries/Libs/**/*.lib

# Config files with passwords
GameServer/config.ini
DummyClient/config.ini